/* 
delete the following line if no text is used
edit the line if you wanna use other fonts
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:@700;300');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* use only the available space inside the 400x400 frame */
.frame {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #ccc;
    color: #333;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing: grayscale;

    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 400px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}